.col-12.col-sm-6.col-md-4.col-xl-3
    .card 
        img(src="https://st3.depositphotos.com/12985848/19523/i/600/depositphotos_195230158-stock-photo-toned-picture-silhouette-hacker-hoodie.jpg", alt="")
        .card-body 
            h5.card-title Item #{itemNumber}
            p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, deleniti.
            a(href="#") View details